## **Introdução a Biblioteca Pandas**

In [1]:
#Importando a biblioteca pandas
import pandas as pd       #Aqui estamos importando a biblioteca e dando o apelido de pd para ela
                          #Toda vez que formos chamar essa biblioteca novamente só precisaremos escrever pd

In [3]:
 #lei um arquivo csv

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Gapminder.csv", sep=";")

In [4]:
#Visualizando as 5 primeiras linhas

df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
#Renomeando titulos para portugues

df = df.rename(columns={"country":"Pais", "continent": "continente", "year":"Ano", "lifeExp":"Expectativa de vida", "pop":"Pop Total", "gdpPercap":"PIB"})

In [12]:
df.head()

          Pais continente   Ano  Expectativa de vida  Pop Total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106

In [13]:
# para saber a quantidade de linhas colunhas

df.shape

(3312, 6)

In [14]:
#Para retornar apenas o nome das colunas

df.columns

Index(['Pais', 'continente', 'Ano', 'Expectativa de vida', 'Pop Total', 'PIB'], dtype='object')

In [15]:
# Para saber o tipo de dado em cada coluna

df.dtypes

Pais                    object
continente              object
Ano                      int64
Expectativa de vida    float64
Pop Total                int64
PIB                    float64
dtype: object

In [16]:
# Mostrar as ultimas 5 linhas 
#obs.: para apresentar numeros de linhas determinadas basta estabelecer o numero
#      de linhas desejadas dentro dos parenteses como parametro

df.tail()

          Pais continente   Ano  Expectativa de vida  Pop Total         PIB
3307  Zimbabwe     Africa  1987               62.351    9216418  706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340  693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143  469.709298

In [22]:
# Para retornar apenas os continentes que temos em nossa base

df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [26]:
#Para retornar apenas os valos de um continente expecifico
#Vamos de exemplo com Oceania

Oceania = df.loc[df["continente"] == "Oceania"]     #comando loc para filtrar
Oceania.head()

     Pais continente   Ano  Expectativa de vida  Pop Total          PIB
975  Fiji    Oceania  1962               56.494     421869  2039.393277
976  Fiji    Oceania  1967               58.607     485000  2170.073285
977  Fiji    Oceania  1972               60.642     544000  2797.759484
978  Fiji    Oceania  1977               62.669     599339  3182.569600
979  Fiji    Oceania  1982               64.683     658906  3209.257468

In [25]:
Oceania["continente"].unique()

array(['Oceania'], dtype=object)

In [27]:
# Podemos tambem fazer agrupamentos de dados usando o groupby
# Exemplo: digamos que queremos agrupar por continente e dizer quantos paises temos por continente

df.groupby("continente")["Pais"].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [28]:
# Agora eu quero saber a expectativa de vida media para cada ano em nossos dados

df.groupby("Ano")["Expectativa de vida"].mean()        #comando mean para media

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa de vida, dtype: float64

In [29]:
# Vamos fazer com a media do PIB

df["PIB"].mean()

11317.115804696648

In [31]:
# vamos retornar a soma do PIB

df["PIB"].sum()

37482287.5451553